html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}

body {
    position: absolute;
    height: max-content;
    font-family: sans-serif;
    background-image: linear-gradient(rgb(255, 224, 224), rgb(170, 228, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#root {
    display:flex;
    justify-content: center;
}


.App {
    z-index: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 2vh;
    box-shadow: 0px 0px 20px rgb(75, 75, 75);
    border-radius: 5px;
}


.header {
    z-index: 1;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    color: rgb(70, 70, 70);
    text-shadow: 0px 0px 2px grey;
    border-bottom: 2px solid rgb(190, 190, 190);
    padding: 1rem;
}

.sectionHeader {
    z-index: 1;
    font-size: 3vh;
    text-align: center;
}

.buttons {
    z-index: 1;
    display:flex;
    justify-content: center;
    gap: 10px;
}

.component {
    z-index: 1;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.InputLabel {
    z-index: 1;
    font-size: 2vh;
    text-align: right;
}

.section {
    z-index: 1;
    display:flex;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
}

input {
    z-index: 1;
    width: 25vh;
    background-color: rgba(187, 187, 187, 0.4);
    border: none;
    border-radius: 5px;
}

.tasksInput {
    z-index: 1;
    width: 25vh;
    height: 10vh;
    background-color: rgba(187, 187, 187, 0.4);
    border: none;
    border-radius: 5px;
}

.dataSpan {
    z-index: 1;
    max-width: 25vh;
    display: block;
    overflow: auto;
    text-align: right;

}

button {
    z-index: 1;
background-color: rgba(216,216,216,0.8);
border: none;
color: #444444;
margin: 5px;
padding: 0.5rem 1rem;
font-size: 1rem;
font-weight: 600px;
border-radius: 4px;
cursor: pointer;
width: 100px;
}

button:focus {
    z-index: 1;
    color: black;
}

.line {
    z-index: 1;
    border: 1px solid rgb(190, 190, 190);
    width: 30%;
}


